body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* a 10px red border with a radius of 10px to make a circle */
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.fadeDancer{
  border:60px solid blue;
  border-radius:60px;
  position:absolute;
}
.rotateDancer{
  border:40px solid yellow;
  border-radius:0;
  position:absolute;
  -webkit-animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  } 
}
.massiveDancer{
  width: 150px;
  height: 150px;
  background: orange;
  position:absolute;
}
.massiveDancer:before, .massiveDancer:after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 150px;
 width: 150px;
 background: orange;
}
.massiveDancer:before {
 -webkit-transform: rotate(30deg);
 -moz-transform: rotate(30deg);
 -ms-transform: rotate(30deg);
 -o-transform: rotate(30deg);
}
.massiveDancer:after {
 -webkit-transform: rotate(60deg);
 -moz-transform: rotate(60deg);
 -ms-transform: rotate(60deg);
 -o-transform: rotate(60deg);
}